/*--------- Utilities ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nunito', 'Helvetica Neue';
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    padding: 1.6rem 4rem;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav box-icon {
    display: none;
}

/*--------- Navbar ------------*/
nav {
    padding: 1.6rem 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 5rem;
    column-gap: 1.5rem;
    color: #FFFFFF
}

nav ul li {
    display: inline-block;
    margin-left: 3.2rem;
}

nav ul li a{
    font-size: 1.8rem;
    color: #FFFFFF;
}

nav ul button{
    padding: 1.6rem 4rem;
    background-color: #FFE492;
    font-size: 1.6rem;
    color: #043873;
    border: none;
    border-radius: 8px;
    margin-left: 2.4rem;
}

/*----------------stats section ----------------*/
/*----------------stats section > input section----------------*/
.input {
    padding: 10rem 10vw 6rem 10vw;
    display: flex;  
    gap: 1rem;
    font-size: 2.8rem;
    justify-content: space-between;
    align-items: center;
}

.user {
    color: #043873;
}

.competitor{
    color: #ed775c;
}

.input h2 {
    flex-basis: 30%;
    font-size: 2.8rem;
}

.input-field {
    display: flex;
    flex-basis: 90%;
    gap: 2rem;
}
.input-field input {
    flex-basis: 90%;
    height: 5.9rem;
    border-radius: 20px;
    font-size: 1.6rem;
    padding-left: 10px;
}

.user input{
    border: 3px solid #043873;
}

.competitor input {
    border: 3px solid #ed775c;
}

.input-field button {
    border: none;
    color:#FFFFFF;
    border-radius: 20px;
    font-size: 1.8rem;
}

.user button{
    background-color: #043873;
}

.competitor button{
    background-color: #ed775c;
}
/*----------------stats section > card section----------------*/
.cards {
    color: #DFEBE9;
    text-align: center;
    display: flex;
    padding: 0 10vw 2.5rem 10vw;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    padding: 2.5rem 0;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
}

.card:hover{
    box-shadow: 4px 4px 10px #1E617A;
}

.card h3 {
    font-size: 2rem;
}

.card p {
    font-size: 4.8rem;
}

#compare-tweets, #compare-followers {
    font-size: 3rem;
    display: none;
}


/*----------- Graph Section------------*/
.chart-card {
    margin: 0 10vw 2.5rem 10vw;
    background-color: #FFFFFF;
    border: solid 3px rgba(54, 162, 235, 1);
    border-radius: 24px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.chart-card div {
    flex-basis: 30%;
}

/*---------- footer section-----------*/
/*--------------- footer --------------------*/
.footer-text {
    padding: 7.4rem 4vw;
    display:flex;
    justify-content: space-between;
    /* gap: 10rem; */
    color: #FFFFFF
}

.footer-text > section {
    flex-basis: 20%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding-right: 5rem;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.links h4 {
    font-size: 1.8rem;
}

.links ul li{
    padding-bottom: 1.5rem;
}

.links ul li a {
    color: #FFFFFF;
    font-family: 'Nuinto';
    font-size: 1.6rem;
}

.links button {
    border: none;
    border-radius: 8px;
    background-color: #4F9CF9;
    align-self: flex-start;
    font-size: 1.6rem;
    color: #FFFFFF;
}

/*--------------- footer links--------------------*/
.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    padding: 3.3rem 4vw;
}

.language-icon {
    width: 1.6rem;
}

.language ul{
    display: flex;
}

.language ul li {
    display: inline-block;
    padding: 0 3rem;
}

.language ul li:first-child {
    padding-left: 0;
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.language ul li a{
    color: #FFFFFF;
    font-size: 1.6rem;
}

.social-links {
    display: flex;
    gap: 3.2rem;
}

.social-links img {
    width: 1.7rem;
    height: 1.4rem;
}
